hpc_scripts/
*__pycache__/*
quick_hacks/predict_active_site/splits
*.pyc
wandb
quick_hacks/predict_active_site/run_model.sh
data/signal_peptides/identify_more_species/SPs_only
data/signal_peptides/signalp_original_data/full_length_train_set.fasta
data/signal_peptides/signalp_original_data/train_set_for_alignment.fasta
data/signal_peptides/identify_more_species/uniprot_tab_seperated/*.tsv
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo/*/*.tsv
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo/tm/uniprot-yourlist_M20201116A94466D2655679D1FD8953E075198DA81282EEB.tab
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo_old
data/signal_peptides/signalp_updated_data/signalp_6_seqs_only_graphpartheaders.fasta
data/signal_peptides/signalp_updated_data/*.tsv
data/signal_peptides/signalp_updated_data/identify_tatlipo/tat.dat
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo/*.fasta
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo/tmp_backup
data/signal_peptides/signalp_updated_data/incomplete_sets
data/signal_peptides/signalp_updated_data/signalp_6_seqs_only.fasta
data/signal_peptides/signalp_updated_data/allidsold.txt
data/signal_peptides/signalp_updated_data/accids_set6.txt
data/signal_peptides/signalp_updated_data/update_tat_sp_lipo/all_old_acc_ids.txt1
data/signal_peptides/signalp_updated_data/identify_tatlipo/*.dat
data/signal_peptides/signalp_updated_data/signalp_6_graphpart_partition_assignments.csv
data/signal_peptides/signalp_updated_data/topdb_ids.tmp
data/signal_peptides/signalp_updated_data/train_data_updated.fasta
train_scripts/utils/balanced_batch_sampler.py
.vscode/settings.json
data/signal_peptides/signalp_updated_data/full_updated_data_seqs_only.fasta
data/signal_peptides/out_of_distribution_test_set/
data/data_augmentation/*.fasta
quickstart_ipython_eval.py
data/data_augmentation/bert_prob_vectors_signalp_6_train_set.npz
data/self_training/swissprot.tsv
export_model/bert_export_test.onnx
data/self_training/*.fasta
*.tmp
train_scripts/downstream_tasks/train_signalp_5_bert_encoded.py
quick_hacks/*.txt
quick_hacks/*
sp_prediction_experiments/experiments_results/.ipynb_checkpoints/*
data/awdlstmtestdata/*
model_checkpoints/
sp_prediction_experiments/investigate_model/crossval_compare_random_inits/.ipynb_checkpoints/friedman_test-checkpoint.ipynb
RL_ProteinDesign/*
sp_prediction_experiments/cosine_regularization_plots/.ipynb_checkpoints/*
data/deprecated/
data/.ipynb_checkpoints/
data/dump_15062020/
data/parasitic_wasps_12082020/
data/plasmodium_signal_peptides/
data/signalp_5_data/famsa_225_partitions/
data/signal_peptides/signalp_updated_data/seqs_only_splitted/
